[Desktop Entry]
Version=1.0
Type=Link
Name=Google Drive, OneDrive and Dropbox Syncing - Insync
Comment=
Icon=user-bookmarks
URL=https://www.insynchq.com/
